<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <link rel="icon" href="OIP__1_-removebg-preview.png" type="image/png">
    <style>
        .add input {
            font-weight: bold;
            color: black;
        }

        .navbar {
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 3000;
        }
    </style>
</head>

<body style="background-color: rgb(238, 243, 245);">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkslategrey;">
            <a class="navbar-brand" href="#" style="font-weight: bold;color: aliceblue;"><img src="static/logo.png"
                    alt="" height="30px">LIBRARY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'admin'%}" style="color: aliceblue; font-weight: bold;">Home
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'genere' %}" style="color: aliceblue; font-weight: bold;">Add
                            genere</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'abooks'%}" style="color: aliceblue; font-weight: bold;">Add
                            Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'showbooks'%}"
                            style="color: aliceblue; font-weight: bold;">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users'%}"
                            style="color: aliceblue; font-weight: bold;">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tissued'%}"
                            style="color: aliceblue; font-weight: bold;">Rented
                            Books</a>
                        <div style="margin-top: -25px;margin-left: 110px;width: 15px;display: flex;justify-content:
                            center;align-items: center;">
                            {%if due > 0 %}
                            <span
                                style="color: rgb(243, 246, 248);width:40px;background-color: brown; border-radius: 50%;height: 20px;justify-content: center;display: flex;align-items: center;">{{due}}</span>
                            {%endif%}
                            {%if due == 0 %}
                            <span
                                style="color: rgb(243, 246, 248);width:40px;border-radius: 50%;height: 20px;justify-content: center;display: flex;align-items: center;visibility: hidden;"></span>
                            {%endif%}
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tpurchased' %}"
                            style="color: aliceblue; font-weight: bold;">Purchased Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tlosted'%}" style="color: aliceblue; font-weight: bold;">Lost
                            Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'newusers'%}" style="color: aliceblue; font-weight: bold;">New
                            users</a>
                        <div style="margin-top: -25px;margin-left: 80px;width: 15px;display: flex;justify-content:
                            center;align-items: center;">
                            {%if icount > 0 %}
                            <span
                                style="color: rgb(243, 246, 248);width:40px;background-color: brown; border-radius: 50%;height: 20px;justify-content: center;display: flex;align-items: center;">{{icount}}</span><br>
                            {%endif%}
                            {%if icount == 0 %}
                            <span
                                style="color: rgb(243, 246, 248);width:40px; border-radius: 50%;height: 20px;justify-content: center;display: flex;align-items: center;visibility: hidden;"></span><br>
                            {%endif%}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout'%}"
                            style="color: aliceblue; font-weight: bold;">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header><br>

    <div class="container">
        <h3 class="text-center" style="margin-top: 60px; color: rgb(12, 60, 60); font-weight: bold;">ADD BOOKS</h4>
    </div>
    <center>
        <div id=mydiv>
            {% for message in messages %}
            <h5>
                <div style="color:darkslategrey;">
                    {{ message }}
                </div>
            </h5>
            {% endfor %}
        </div>
    </center>
    <div class="container" style="height: 600px;background-color: rgb(240, 243, 244);">
        <div class="row" style="display: flex;justify-content: center;align-items: center;">
            <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12"
                style="background-color: rgba(7, 58, 60, 0.8);padding-top: 20px;padding-bottom: 20px;">
                <form onsubmit="return validateBook()" action="{% url 'addfun'%}" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Book Name">
                        <span style="color: rgb(206, 185, 185);" id="nameError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="author" id="author" placeholder="Author">
                        <span style="color: rgb(206, 185, 185);" id="authorError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <select class="form-control" name="select" id="select" required>
                            <option value="" disabled selected>Select a category</option>
                            {% for i in genere %}
                            <option name="category" value="{{ i.id }}">{{i.ctgname}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="publisher" id="quantity"
                            placeholder="Publisher ID" required>
                        <span style="color: rgb(206, 185, 185);" id="quantityError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Quantity"
                            required>
                        <span style="color: rgb(206, 185, 185);" id="quantityError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="price" id="price" placeholder="Price" required>
                        <span style="color: rgb(206, 185, 185);" id="priceError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" name="rent" id="rent" placeholder="Rent" required>
                        <span style="color: rgb(206, 185, 185);" id="rentError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" name="summary" id="summary" placeholder="Summary"
                            required></textarea>
                        <span style="color: rgb(206, 185, 185);" id="summaryError" class="error"></span>
                    </div>
                    <div class="mb-3">
                        <input type="file" class="form-control" name="file" id="image"
                            style="background-color: aliceblue;" accept="image/*" required>
                    </div>
                    <div style="justify-content: center;display: flex;">
                        <button type="submit"
                            style="border: none;background-color: rgb(255, 255, 255);border-radius: 5px;font-size: medium;font-weight: bold;">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <script>
        function validateBook() {
            var bookName = document.getElementById('name').value.trim();
            var authorName = document.getElementById('author').value.trim();
            var quantity = parseInt(document.getElementById('quantity').value);
            var price = parseInt(document.getElementById('price').value);
            var rent = parseInt(document.getElementById('rent').value);
            var summary = document.getElementById('summary').value.trim();

            document.getElementById('nameError').innerHTML = '';
            document.getElementById('authorError').innerHTML = '';
            document.getElementById('quantityError').innerHTML = '';
            document.getElementById('priceError').innerHTML = '';
            document.getElementById('rentError').innerHTML = '';
            document.getElementById('summaryError').innerHTML = '';

            if (bookName === '') {
                document.getElementById('nameError').innerHTML = 'Book Name is required';
                return false;
            }

            if (authorName === '') {
                document.getElementById('authorError').innerHTML = 'Author Name is required';
                return false;
            }

            if (quantity < 0) {
                document.getElementById('quantityError').innerHTML = 'Quantity cannot be a negative number';
                return false;
            }

            if (price < 0) {
                document.getElementById('priceError').innerHTML = 'Price cannot be a negative number';
                return false;
            }

            if (rent < 0) {
                document.getElementById('rentError').innerHTML = 'Rent cannot be a negative number';
                return false;
            }

            if (summary === '') {
                document.getElementById('summaryError').innerHTML = 'Summary is required';
                return false;
            }

            return true;
        }
    </script>
    <footer class="footer"
        style="background-color: darkslategray;color: rgb(253, 254, 255);height: max-content;bottom: 0;position: relative;width: 100%;margin-top: 150px;display: flex;">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-md-6"
                    style="justify-content: center;display: flex;flex-direction: column; align-self: center;">
                    <div
                        style="justify-content: center;margin-top: 10px;display: flex;flex-direction: column;align-items: center;">
                        <h5>Contact Us</h5>
                        <ul class="list-unstyled">
                            <li>
                                <p>123 Library St, City, Country</p>
                            </li>
                            <li>
                                <p>Email: info@example.com</p>
                            </li>
                            <li>
                                <p>Phone: +123 456 7890</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6"
                    style="justify-content: center;display: flex;flex-direction: column;align-items: center;">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled" style="color: aliceblue;">
                        <li><a style="color: rgb(249, 251, 252);" href="#">Facebook</a></li>
                        <li><a style="color: rgb(247, 249, 251);" href="#">Twitter</a></li>
                        <li><a style="color: rgb(253, 254, 255);" href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="text-center">© 2024 Your Library. All rights reserved.</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            // Use setTimeout to delay the execution of the fadeOut function
            setTimeout(function () {
                $('#mydiv').fadeOut('fast');
            }, 1200); // <-- time in milliseconds
        });
    </script>
</body>

</html>