<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <link rel="icon" href="OIP__1_-removebg-preview.png" type="image/png">
    <style>
        .navbar {
            width: 100%;
            position: fixed;
            z-index: 3000;
        }
    </style>
</head>

<body style="background-color: rgb(230, 230, 237);">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkslategray;">
            <a class="navbar-brand" href="#" style="font-weight: bold;color: aliceblue;"><img src="static/logo.png" alt=""
                    height="30px">LIBRARY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color: aliceblue; font-weight: bold;">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: aliceblue; font-weight: bold;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: aliceblue; font-weight: bold;">Services</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link"
                            style="color: aliceblue; font-weight: bold; font-size: 1rem; outline: none; border: none; background-color: none;"
                            id="log" type="button" data-toggle="modal" data-target="#signinmodal">Login</a>
                    </li>
    
                    <div class="modal" id="signinmodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- modal heading -->
                                <div class="modal-header"
                                    style="background-color:rgb(12, 74, 88); justify-content: center;">
                                    <h2 class="mb-4"
                                        style="color: rgb(219, 238, 247);height: max-content;font-size: 1.4rem;">
                                        Login
                                    </h2>
                                </div>
                                <!-- modal body -->
                                <div class="modal-body" style="background-color:rgb(227, 235, 239); outline: none;">
                                    <center>
                                        <form action="{% url 'log'%}" method="post">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="username"
                                                    placeholder="username">
                                            </div>
                                            <div class="mb-3">
                                                <input type="password" class="form-control" id="password" name="password"
                                                    placeholder="username">
                                            </div>
                                            <button type="submit"
                                                style="background-color:rgb(12, 74, 88);; color: rgb(226, 235, 239); font-weight: bold; text-decoration: none;font-size: 1rem;height: 35px;border-radius: 10px; border: none;">Log
                                                In</button>
                                            </li>
    
                                        </form>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link"
                            style="color: aliceblue; font-weight: bold; font-size: 1rem; outline: none; border: none;"
                            id="log" type="button" class="btn" data-toggle="modal" data-target="#signupmodal">Sign
                            Up</a>
                    </li>
                    <div class="modal" id="signupmodal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- modal heading -->
                                <div class="modal-header"
                                    style="background-color:rgb(12, 74, 88); justify-content: center;">
                                    <h2 class="mb-4"
                                        style="color: rgb(255, 253, 250);height: max-content;font-size: 1.4rem;">Sign UP
                                    </h2>
                                </div>
                                <!-- modal body -->
                                <div class="modal-body" style="background-color:rgb(244, 248, 250); outline: none;">
                                    <center>
                                        <form action="{% url 'signup'%}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="fname"
                                                    placeholder="First Name">
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="lname"
                                                    placeholder="Last Name">
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="uname"
                                                    placeholder="Username">
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="email"
                                                    placeholder="E-mail">
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="phone"
                                                    placeholder="phone number">
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" class="form-control" id="username" name="place"
                                                    placeholder="Place">
                                            </div>
                                            <div class="mb-3">
                                                <label for="file">Image</label>
                                                <input type="file" class="form-control" id="file" name="file" accept="image/*">
                                            </div>
                                            <button type="submit"
                                                style="background-color:rgb(12, 74, 88); color: rgb(249, 253, 255); font-weight: bold; font-size: 1rem; text-decoration: none; border: none; height: 35px;border-radius: 10px;">Sign
                                                Up</button>
                                            </li>
    
                                        </form>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </nav>
    </header><br>

    <div class="container" style="background-color: rgb(213, 229, 232); margin-top: 60px;">
       <div class="lap"
            style=" display: flex;flex-direction: column;justify-content: space-between; align-items: center;margin-bottom: 1vw; border-radius: 8px; margin-bottom: 40px;height: max-content;width: 100%;">
            <div class="card"
                style="display: flex; justify-content: center; align-items: center;background-color:rgb(222, 240, 244);border: none; justify-content: center;margin-top: 20px;width: 100%;">
                <img id="l_image" src="{{ book.image.url }}" alt="" width="20%"><br>
            </div>
            <div class="card"
                style="font-size: clamp(8px,1vw,24px);background-color:rgb(38, 43, 44); text-align: center;width: 100%;">
                <p style="font-weight: bold; margin-top: 5px; text-transform: uppercase;color: aliceblue;"
                    class="text-center">
                    {{book.book_name}}</p>
                <div class="spec"
                    style="text-align: left; padding-left: 22px; color: rgb(165, 217, 228);justify-content: center;display: flex;flex-direction: column;align-items: center;">
                    <p style="margin-top: -5px;color: aliceblue;">Author: <span
                            style="font-weight: bold; text-align: left;color: rgb(83, 180, 200);font-size: clamp(8px,1vw,24px);">{{book.author_name}}</span>
                    </p>
                    <p style="margin-top: -10px;color: aliceblue;">Genere: <span
                            style="font-weight: bold; text-align: left;color: rgb(83, 180, 200);font-size: clamp(8px,1vw,24px);">{{book.genere.ctgname}}</span>
                    </p>
                    <p style="margin-top: -10px;">₹ <span style="font-weight: bold; text-align: left;font-size: clamp(8px,1vw,24px);color: aliceblue;">{{book.rent}}</span>
                    </p>
                </div>
                <div style="margin-top: 10PX;" >
                    <button style="border-radius: 5px; background-color:rgb(12, 74, 88);"><a
                            style="text-decoration: none; color: rgb(254, 254, 254);font-size: clamp(8px,1vw,24px);"
                            href="">Rent Now</a></button>
                    <button style="border-radius: 5px; background-color:rgb(12, 74, 88);"><a
                            style="text-decoration: none;font-size: clamp(8px,1vw,24px); color: rgb(240, 254, 255);" href="">Add
                            To Cart</a></button>
                </div><br>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            // Use setTimeout to delay the execution of the fadeOut function
            setTimeout(function () {
                $('#mydiv').fadeOut('fast');
            }, 1200); // <-- time in milliseconds
        });
    </script>
</body>

</html>