<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <link rel="icon" href="OIP__1_-removebg-preview.png" type="image/png">
</head>

<body style="background-color: rgb(232, 240, 242);">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkslategrey;">
        <a class="navbar-brand" href="#" style="font-weight: bold;color: aliceblue;"><img src="static/logo.png" alt=""
                height="30px">LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="admin" style="color: aliceblue; font-weight: bold;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="genere" style="color: aliceblue; font-weight: bold;">Add genere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="abooks" style="color: aliceblue; font-weight: bold;">Add Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="showbooks" style="color: aliceblue; font-weight: bold;">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="users" style="color: aliceblue; font-weight: bold;">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="userissue" style="color: aliceblue; font-weight: bold;">Issued Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="newusers" style="color: aliceblue; font-weight: bold;">New users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout" style="color: aliceblue; font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="container mt-4">
            <div class="row" style="justify-content: center;">
                <img src="/static/newuser.png/" alt="" height="225px">
            </div>
            <div style="justify-content: center;">
                <h4 class="text-center">NoUsers!</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: darkslategray; display: flex;margin-top: 500px;">
        <div class="footer">
            <div class="top" style="display: flex; flex-direction: row; justify-content:center; align-items: center;">
                <ul style="display: flex; flex-direction: column; color: aliceblue;">
                    <a style="color: aliceblue;" href="">Account</li></a>
                    <a style="color: aliceblue;" href="">Service</a>
                    <a style="color: aliceblue;" href="">Contact</a>
                    <a style="color: aliceblue;" href="">Email</a>
                    <a style="color: aliceblue;" href="">careers</a>
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Use setTimeout to delay the execution of the fadeOut function
            setTimeout(function () {
                $('#mydiv').fadeOut('fast');
            }, 1200); // <-- time in milliseconds
        });
    </script>

</body>

</html>