<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <link rel="icon" href="OIP__1_-removebg-preview.png" type="image/png">
    <style>

    </style>
</head>

<body style="background-color: rgb(255, 255, 255);">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkslategrey;">
        <a class="navbar-brand" href="#" style="font-weight: bold;color: aliceblue;"><img src="static/logo.png" alt=""
                height="30px">LIBRARY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'admin'%}" style="color: aliceblue; font-weight: bold;">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genere' %}" style="color: aliceblue; font-weight: bold;">Add genere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'abooks'%}" style="color: aliceblue; font-weight: bold;">Add
                        Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'showbooks'%}"
                        style="color: aliceblue; font-weight: bold;">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users'%}" style="color: aliceblue; font-weight: bold;">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tissued'%}" style="color: aliceblue; font-weight: bold;">Rented
                        Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tpurchased' %}"
                        style="color: aliceblue; font-weight: bold;">Purchased Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tlosted'%}" style="color: aliceblue; font-weight: bold;">Lost
                        Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'newusers'%}" style="color: aliceblue; font-weight: bold;">New
                        users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout'%}" style="color: aliceblue; font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <center>
            <div id=mydiv>
                {% for message in messages %}
                <h5>
                    <div style="color:rgb(30, 165, 118);">
                        {{ message }}
                    </div>
                </h5>
                {% endfor %}
            </div><br>
        </center><br>
        <div class="row" style="justify-content: center;">
            <img src="/static/newuser.png/" alt="" height="225px">
        </div>
        <div style="justify-content: center;">
            <h4 class="text-center">No NewUsers !</h5>
        </div>
    </div>
    <footer class="footer" style="background-color: darkslategray;color: rgb(253, 254, 255);height: max-content;bottom: 0;margin-top: 300px;display: flex;">
        <div class="container" >
            <div class="row" style="justify-content: center;">
                <div class="col-md-6"
                    style="justify-content: center;display: flex;flex-direction: column; align-self: center;">
                    <div style="justify-content: center;margin-top: 10px;display: flex;flex-direction: column;align-items: center;">
                        <h5>Contact Us</h5>
                        <ul class="list-unstyled">
                            <li>
                                <p>123 Library St, City, Country</p>
                            </li>
                            <li>
                                <p>Email: info@example.com</p>
                            </li>
                            <li>
                                <p>Phone: +123 456 7890</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6"
                    style="justify-content: center;display: flex;flex-direction: column;align-items: center;">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled" style="color: aliceblue;">
                        <li><a style="color: rgb(249, 251, 252);" href="#">Facebook</a></li>
                        <li><a style="color: rgb(247, 249, 251);" href="#">Twitter</a></li>
                        <li><a style="color: rgb(253, 254, 255);" href="#">Instagram</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="text-center">© 2024 Your Library. All rights reserved.</p>
        </div>
    </footer>

    <script>
        $(document).ready(function () {
            // Use setTimeout to delay the execution of the fadeOut function
            setTimeout(function () {
                $('#mydiv').fadeOut('fast');
            }, 1200); // <-- time in milliseconds
        });
    </script>

</body>

</html>