<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Web Development Company</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="demo.css">
    <link rel="icon" href="OIP__1_-removebg-preview.png" type="image/png">
    <style>
        .navbar {
            width: 100%;
            position: fixed;
            z-index: 3000;
        }

        .footer {
            background-color: darkslategray;
            height: max-content;
            color: aliceblue;
            width: 100%;
            bottom: 0;
            top: 0;
            display: flex;
            align-items: center;
            text-decoration: none;
        }
    </style>
</head>

<body style="background-color: rgb(230, 230, 237);">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:darkslategrey;">
            <a class="navbar-brand" href="#" style="font-weight: bold;color: aliceblue;"><img src="static/logo.png"
                    alt="" height="30px">LIBRARY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <form action="{%url 'usearch'%}" method="post">
                            {% csrf_token %}
                            <input type="text" placeholder="Search" name="search"
                                style="border-radius: 5px; height: 40px; width: 200px;">
                            <button type="submit"
                                style="border-radius: 10px; background-color: rgb(228, 228, 228);color:rgb(20, 65, 67)e;">
                                Search
                            </button>
                        </form>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'user'%}" style="color: aliceblue; font-weight: bold;">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile'%}" style="color: aliceblue; font-weight: bold;">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'issued'%}" style="color: aliceblue; font-weight: bold;">Rented Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'purchased' %}" style="color: aliceblue; font-weight: bold;">Purchased Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'losted'%}" style="color: aliceblue; font-weight: bold;">Lost Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cartpage'%}" style="color: aliceblue; font-weight: bold;">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" style="color: aliceblue; font-weight: bold;">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header><br>
    <center>
        <!-- <div class="container mt-4">
            <div id=mydiv style="margin-top: 50px;">
                {% for message in messages %}
                <h5>
                    <div style="color:darkslategrey;">
                        {{ message }}
                    </div>
                </h5>
                {% endfor %}
            </div><br>
        </div> -->
    </center>
    <div class="container" style="background-color: rgb(213, 229, 232);">
        <h4 class="text-center" style="margin-top: 50px; color:rgb(12, 74, 88);">EXPLORE BOOKS!</h4>
        <center>
            <div id="mydiv">
                {% for message in messages %}
                <h5>
                    <div class="alert mt-5"
                        style="width:max-content; border-radius: 20px; background-color: aliceblue;color: rgb(222, 50, 84);font-size: 1rem;">
                        {{message}}
                    </div>
                </h5>
                {% endfor %}
            </div>
        </center>
        <div class="row auto-mx" style="justify-content: space-around">
            {% for p in books%}
            <div class="lap"
                style="background-color:rgb(12, 74, 88); display: flex;flex-direction: column; width:200px; align-items: center;margin-bottom: 1vw; border-radius: 8px; margin-bottom: 40px;height: max-content;">
                <div class="card"
                    style="display: flex; justify-content: center; align-items: center;width:150px;background-color:rgb(12, 74, 88);border: none; justify-content: center;">
                    <br><a href="{%url 'viewpage' p.id%}"><img id="l_image" src="{{ p.image.url }}" alt=""
                            height="240vh"></a><br>
                </div>
                <div class="card"
                    style="font-size: 1rem;background-color:rgb(38, 43, 44); text-align: center; width: 200px;height: 60px;">
                    <p style="font-weight: bold; margin-top: 5px; text-transform: uppercase;color: aliceblue;"
                        class="text-center">{{p.book_name}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="footer"
    style="background-color: darkslategray;color: rgb(253, 254, 255);height: max-content;bottom: 0;display: flex;width: 100%;margin-top: 150px;bottom: 0;">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-md-6"
                style="justify-content: center;display: flex;flex-direction: column; align-self: center;">
                <div
                    style="justify-content: center;margin-top: 10px;display: flex;flex-direction: column;align-items: center;">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p>123 Library St, City, Country</p>
                        </li>
                        <li>
                            <p>Email: info@example.com</p>
                        </li>
                        <li>
                            <p>Phone: +123 456 7890</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6"
                style="justify-content: center;display: flex;flex-direction: column;align-items: center;">
                <h5>Follow Us</h5>
                <ul class="list-unstyled" style="color: aliceblue;">
                    <li><a style="color: rgb(249, 251, 252);" href="#">Facebook</a></li>
                    <li><a style="color: rgb(247, 249, 251);" href="#">Twitter</a></li>
                    <li><a style="color: rgb(253, 254, 255);" href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="text-center">© 2024 Your Library. All rights reserved.</p>
    </div>
</footer>
    
    <script>
        $(document).ready(function () {
            // Use setTimeout to delay the execution of the fadeOut function
            setTimeout(function () {
                $('#mydiv').fadeOut('fast');
            }, 1200); // <-- time in milliseconds
        });
    </script>
</body>

</html>